*.out
output.cpp
*.exe
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
__pycache__/*
__pycache__/
.pytest_cache/
.env/
*.pyc
*.pyo
*.pyd
*.class
mingw64/*

.vscode
# Logs dir and files 
*.log
logs/

# test pys
test.py

# misc
genastdot.py
ast.dot
test.txt

# cpp stuff
test.cpp
