*.out
output.cpp
*.exe
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
__pycache__/*
__pycache__/
.pytest_cache/
.env/
*.pyc
*.pyo
*.pyd
*.class
mingw64/*

.vscode
transpiler.log

test.py

genastdot.py

ast.dot

test.cpp

test.txt
